.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: #535353;
    text-align: center;
    border: 1px solid #C9C9C9;
}


.footer-copyright {
    font-weight: 600px;
    font-size: 20px;
    line-height: 37.48px;
}


.footer-text {
    font-size: 20px;
    font-weight: 600px;
    line-height: 37.48px;
}