.task-page {
    width: 100%;
    height: 100%;
}
.task-manager-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px;
}

.task-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #4B4F54
}

.delete-task-popup-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 100px;
    padding-bottom: 40px;
    padding-top: 10px;
    gap: 45px;
}

.button-container {
    width: 220px;
}

.popup-create-task {
    display: flex;
    padding-block: 18px;
}

.popup-form {
    width: 100%;
    height: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.confirm-button {
    width: 140px;
}

.addEdit-popup-container {
    display: flex;
    padding-block: 18px;
}

.popup-form {
    width: 100%;
    height: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

.dropdown-container {
    width: 220px;
}

.input-container {
    height: 200px;
    width: 490px;
    font-size: 17px;
}

.addEdit-popup-container .popup-button-container {
    padding-bottom: 22px;
}