<div class="task-manager-container">
        
    <div class="task-header-container">

        <div class="button-container">
            <custom-button 
            [type]="ButtonType.SECONDARY"> 
            {{'TASK.ADD_TASK' | translate}} 
            </custom-button>
        </div>

        <span class="title">{{'TASK.TASK_MANAGEMENT' | translate}}</span>

    </div>

        <custom-table 
        [data]="tasks" 
        [columns]="columns"
        (action)="handleTaskAction($event)">


        </custom-table>
            
        <popup #popup (close)="closePopup()">
            <div class="popup-container">
                <span class="popup-message">{{'TASK.DELETION_CONFIRMATION' | translate}}</span>
                <div class="popup-buttons-container">

                    <div class="confirm-button">
                        <custom-button 
                        [type]="ButtonType.PRIMARY" 
                        (click)="confirmDelete()">
                        {{'GENERAL.YES' | translate}}
                        </custom-button>
                    </div>

                    <div class="confirm-button">
                        <custom-button 
                        [type]="ButtonType.SECONDARY" 
                        (click)="closePopup()">
                        {{'GENERAL.NO' | translate}}
                        </custom-button>
                    </div>

                </div>
            </div>
        </popup>
</div>
