.task-manager-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px
}

.task-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #4B4F54
}

.button-container {
    width: 220px;
}

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 175px;
    gap: 45px;
}

.popup-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.confirm-button {
    width: 150px;
}

.popup-message {
    font-size: 23px;
}