<div class="task-manager-container">
        
    <div class="task-header-container">

        <div class="button-container">
            <custom-button [type]="ButtonType.SECONDARY" (click)="openPopup()">
                {{'TASK.ADD_TASK' | translate}}
            </custom-button>
        </div>

        <span class="title">{{'TASK.TASK_MANAGEMENT' | translate}}</span>

    </div>

        <custom-table 
        [data]="tasks" 
        [columns]="columns"
        (action)="handleTaskAction($event[0],$event[1])">
        </custom-table>
            
        <popup #deleteTaskPopup (close)="closePopup()">
            <div class="delete-task-popup-container">
                <span class="popup-message">{{'MESSAGE.DELETION_CONFIRMATION' | translate}}</span>
                <div class="popup-buttons-container">

                    <div class="confirm-button">
                        <custom-button 
                        [type]="ButtonType.PRIMARY" 
                        (click)="confirmDelete()">
                        {{'GENERAL.YES' | translate}}
                        </custom-button>
                    </div>

                    <div class="confirm-button">
                        <custom-button 
                        [type]="ButtonType.SECONDARY" 
                        (click)="closePopup()">
                        {{'GENERAL.NO' | translate}}
                        </custom-button>
                    </div>

                </div>
            </div>
        </popup>
</div>


<popup #addEditPopup (close)="closePopup()" [title]= "'TASK.ADD_TASK_NEW'">
    <div class="addEdit-popup-container">
        <form #form="ngForm" [formGroup]="taskForm" class="popup-form">

        <div class="dropdown-container">
            <custom-dropdown
            [generalFormGroup]="form"
            [isRequired]="true"
            [label]="'TASK.STATUS'"
            [placeholder]="'DROPDOWN.PLACEHOLDER'"
            [controlName]="'status'"
            [items]="statusList"
            [errorMessages]="errorMessages['status']"
            (selectedItemChanged)="onSelectedItemChanged($event)"></custom-dropdown>
        </div>

            <div class="input-container">
            <custom-input
            [generalFormGroup]="form"
            [isRequired]="true"
            [label]="'TASK.DESCRIPTION'"
            [type]="InputType.textarea"
            [controlName]="'description'"
            [id]="'description'"
            [errorMessages]="errorMessages['description']">
            </custom-input>
            </div>

            <div class="popup-button-container">
                <custom-button [type]="ButtonType.PRIMARY" (click)="addTask()">{{'GENERAL.ADD' |
                    translate}}</custom-button>
            </div>

        </form>
    </div>
</popup>
