<div class="task-page">
    <div class="task-manager-container">
            
        <div class="task-header-container">

            <div class="button-container">
                <custom-button [type]="ButtonType.SECONDARY" (click)="openAddEditPopup()">
                    {{'TASK.ADD_TASK' | translate}}
                </custom-button>
            </div>

            <span class="title">{{'TASK.TASK_MANAGEMENT' | translate}}</span>

        <div class="button-container">
            <custom-button [type]="ButtonType.SECONDARY" (click)="openAddPopup()">
                {{'TASK.ADD_TASK' | translate}}
            </custom-button>
        </div>

            <custom-table 
            [data]="tasks" 
            [columns]="columns"
            (action)="handleTaskAction($event[0],$event[1])">
            </custom-table>
                
        
    </div>
</div>

<popup #deleteTaskPopup>
    <div class="delete-task-popup-container">
        <span class="popup-message">{{'MESSAGE.DELETION_CONFIRMATION' | translate}}</span>
        <div class="popup-buttons-container">

            <div class="confirm-button">
                <custom-button 
                [type]="ButtonType.PRIMARY" 
                (click)="confirmDelete()">
                {{'GENERAL.YES' | translate}}
                </custom-button>
            </div>

            <div class="confirm-button">
                <custom-button 
                [type]="ButtonType.SECONDARY" 
                (click)="closeDeletePopup()">
                {{'GENERAL.NO' | translate}}
                </custom-button>
            </div>

        </div>
    </div>
</popup>

<popup #addEditPopup (closePopup)="resetForm(this.taskForm, this.form)" [title]= "title">
    <div class="addEdit-popup-container">
        <form #form="ngForm" [formGroup]="taskForm" class="popup-form" (ngSubmit)="saveTask()">

        <div class="dropdown-container">
            <custom-dropdown
            [generalFormGroup]="form"
            [isRequired]="true"
            [label]="'TASK.STATUS'"
            [placeholder]="'DROPDOWN.PLACEHOLDER'"
            [controlName]="'status'"
            [items]="statusList"
            [errorMessages]="errorMessages['status']"
            (selectedItemChanged)="onSelectedItemChanged($event)">
            </custom-dropdown>
        </div>

        <div class="input-container">
            <custom-input
            [generalFormGroup]="form"
            [isRequired]="true"
            [label]="'TASK.DESCRIPTION'"
            [type]="InputType.textarea"
            [controlName]="'description'"
            [id]="'description'"
            [errorMessages]="errorMessages['description']">
            </custom-input>
        </div>

            <div class="popup-button-container">
                <custom-button [type]="ButtonType.PRIMARY" [role]="ButtonRole.submit">
                    {{ isEditMode ? ('GENERAL.EDIT' | translate ) : 'GENERAL.ADD' | translate }}
                </custom-button>
            </div>
        </form>
    </div>
</popup>