@if(formControl.errors && formControl.touched){

@if(formControl.errors['required']){

<div class="error-message">
    <span><i class="bi bi-exclamation-circle-fill"></i></span>
    <span>
        {{'ERROR_MESSAAGES.FIELD_REQUIRED'|translate}}
    </span>
</div>

}

@if(formControl.errors['pattern'] && type === 'password'){

<div class="error-message">
    <span><i class="bi bi-exclamation-circle-fill"></i></span>
    <span>
        {{'ERROR_MESSAAGES.PATTERN_PASSWORD'|translate}}
    </span>
</div>

}

@if(formControl.errors['pattern'] && type === 'username'){

<div class="error-message">
    <span><i class="bi bi-exclamation-circle-fill"></i></span>
    <span>
        {{'ERROR_MESSAAGES.PATTERN_USERNAME'|translate}}
    </span>
</div>

}

}