<div class="task-manager-page">
    <div class="task-manager-container">
        
        <div class="task-header-container">

            <div class="button-container">
                <custom-button 
                [type]="ButtonType.SECONDARY"> 
                {{'TASK-MANAGER.ADD_TASK' | translate}} 
                </custom-button>
            </div>

            <span class="title">{{'TASK-MANAGER.TASK_MANAGEMENT' | translate}}</span>

        </div>

        <custom-table 
        [tableData]="tableData" 
        [columns]="columns">
        </custom-table>
            
    </div>
</div>