<custom-header></custom-header>
<custom-footer></custom-footer>


<form #form="ngForm" [formGroup]="loginForm">

    <div class="input">
        <custom-input 
        [generalFormGroup]="form"  
        [errorMessages]="errorMessages['username']"
        [label]="'LOGIN.USERNAME'|translate" 
        [type]="InputType.input"
        [controlName]="'username'">
        </custom-input>  

        <custom-input 
        [generalFormGroup]="form" 
        [errorMessages]="errorMessages['password']"
        [label]="'LOGIN.PASSWORD'|translate" 
        [type]="InputType.password"
        [controlName]="'password'">
        </custom-input>
    </div>

</form>