.primary-btn {
    color: white;
    background-color: var(--primary-color);
    border: none;
}

.secondary-btn {
    color: var(--primary-color);
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
}

.primary-btn,
.secondary-btn {
    border-radius: 11px;
    width: 100%;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
}