<div [formGroup]="generalFormGroup.form">
    <div class="label">
        <span>{{ label | translate }}</span>

        @if (isRequired) {
        <span class="required"> * </span>
        }
    </div>
    <div class="select-container">
        <select 
        #dropdown 
        title="dropdown" 
        (change)="onSelect(dropdown.value)">

            <option
            disabled
            selected
            [value]="-1">
            {{placeholder | translate}}
            </option>

            @for( item of items; track item ){
                <option
                [value]="item.value | translate">
                {{item.label | translate}}
                </option>
            }  
        </select>
    </div>

    @for (errorMessage of errorMessages; track errorMessage) {
        @if(getErrorByType(errorMessage.validator)){
        <error-message
        class="error-message"
        [message]="errorMessage.message">
        </error-message>
        }
    }
</div>