<div [formGroup]="generalFormGroup.form" class="rtl flex flex-col text-base gap-1.5">
    <div class="flex flex-row">
        <span>{{ label | translate }}</span>

        @if (isRequired) {
        <span class="text-red-500"> * </span>
        }
    </div>
    <div class="inline-block">
        <select 
        #dropdown 
        title="dropdown" 
        (change)="onSelect(dropdown.value)"
        class= "border border-gray-300 rounded-lg w-full h-10 pr-3 text-gray-500 appearance-none cursor-pointer bg-custom-arrow bg-no-repeat bg-5-50 bg-15px"
        >

            <option
            disabled
            selected
            [value]="-1">
            {{placeholder | translate}}
            </option>

            @for( item of items; track item ){
                <option
                [value]="item.value | translate">
                {{item.label | translate}}
                </option>
            }  
        </select>
    </div>

    @for (errorMessage of errorMessages; track errorMessage) {
        @if(getErrorByType(errorMessage.validator)){
        <error-message
        class="error-message"
        [message]="errorMessage.message">
        </error-message>
        }
    }
</div>