@font-face {
    font-family: 'Cairo';
    src: url('/assets/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
}

:root {
    --primary-color: #612551;
}

body {
    background-color: #F0F0F0;
    margin: 0;
}

* {
    font-family: 'Cairo', sans-serif;
}