.table {
  direction: rtl;
  align-items: center;
  width: 95%;
  text-align: center;
  margin: 20px auto;
  border-collapse: collapse;
  color: #6C6C6C;
  font-size: 14px;
}

.head {
  padding: 8px;
  background-color: var(--primary-color);
  color: #F0F0F0;
  font-size: 16px;
  font-weight: 600;
}

.row:nth-child(even) {
  background: #F7F7F7;
}

.row:nth-child(odd) {
  background-color: #FFFFFF;
}

.table td {
  vertical-align: middle;
  padding: 8px;
}

.table-image {
  max-width: 150px; 
  max-height: 100px; 
  display: block;
  margin: 0 auto;
}
