<table class="table">

  <thead>
    @for (column of columns; track column) {
    <th class="head">{{ column.label | translate}}</th>
    }
  </thead>
  <tbody>

  @for(data of tableData; track data) {
    <tr class="row">
    @for(column of columns; track column){

      @if(column.showCustom){
        @switch (column.customType) {
          @case(CustomType.icon){
            <td>
            <i class="{{column.customConent}} icon" (click)="handleIconClick($index, data)" [style.color]="column.iconColor"></i>
            </td>
          }
    
          @case(CustomType.image){
            <td>
              <img [src]="data[column.property]" class="table-image">
            </td>
          }
    }
      } @else {
      <td>{{ String(data[column.property]) }}</td>
      }
    }
    </tr>
  }

  </tbody>

</table>